# PostgreSQL
DATABASE_URL=
POSTGRES_USER=
POSTGRES_PASSWORD=
DATABASE_HOST=
DATABASE_PORT=
DATABASE_NAME=

# pgAdmin
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=

# Firebase
FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
FIREBASE_CLIENT_EMAIL=

# Stripe
STRIPE_SECRET_KEY=

# FastAPI などの設定
DEBUG=True