# PostgreSQL
POSTGRES_DB=xxx
POSTGRES_USER=xxx
POSTGRES_PASSWORD=xxx

# pgAdmin
PGADMIN_DEFAULT_EMAIL=xxx
PGADMIN_DEFAULT_PASSWORD=xxx

# Firebase
FIREBASE_PROJECT_ID=xxx
FIREBASE_PRIVATE_KEY=xxx
FIREBASE_CLIENT_EMAIL=xxx

# Stripe
STRIPE_SECRET_KEY=xxx
